{# templates/home/index.html.twig #}
{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}
{% include 'components/_header.html.twig'%}
  <div class="container">
    <h1>Bienvenue sur GoldenGoat !</h1>
    <p>Ceci est votre première page Symfony + Bootstrap.</p>
  </div>
  
{% endblock %}
