{# templates/legal/mentions_legales.html.twig #}
{% extends 'base.html.twig' %}

{% block title %}Mentions légales – Golden Goat{% endblock %}

{% block body %}
<section class="page page--legal">
  <h1 class="page__title">Mentions légales</h1>
  <div class="page__content">
    <p>Golden Goat SARL<br>
    Siège social : 123 rue du Foot, 75000 Paris<br>
    Hébergeur : OVH – 2 rue Kellermann, 59100 Roubaix<br>
    Directeur de la publication : TFA<br>
    …</p>
  </div>
</section>
{% endblock %}
