<header class="header" style="background-color: #000;">
  <div class="container-fluid header__container">
    <a href="{{ path('home') }}" class="header__logo">
      <img src="{{ asset('images/logo_goldengoat.png') }}" alt="GolderGoat">
    </a>

    <nav class="header__nav">
      <a href="#" class="header__nav-link header__nav-link--active">Accueil</a>
      <span class="header__separator" aria-hidden="true"></span>
        <a href="#" class="header__nav-link">Ballon 1</a>
      <span class="header__separator" aria-hidden="true"></span>
        <a href="#" class="header__nav-link">Ballon 2</a>
      <span class="header__separator" aria-hidden="true"></span>
        <a href="#" class="header__nav-link">Ballon 3</a>
    </nav>


    {% if app.user %}
      <a href="{{ path('app_account') }}" class="header__user-icon" title="Mon profil">
        <i class="bi bi-person-check-fill fs-1" aria-hidden="true"></i>
      </a>
    {% else %}
      <a href="{{ path('app_login') }}" class="header__user-icon" title="Connexion">
        <i class="bi bi-person-circle fs-1" aria-hidden="true"></i>
      </a>
    {% endif %}

  </div>
</header>
